<!-- Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE in the project root for license information. -->

<!-- Future implementation to be discussed -->
<div class="ms-Dropdown {{#if props.modifier}} ms-Dropdown--{{props.modifier}} {{/if}} {{props.state}}" tabindex="0">
  <label class="ms-Label">{{props.label}}</label>
  <i class="ms-Dropdown-caretDown ms-Icon ms-Icon--ChevronDown"></i>
  <select class="ms-Dropdown-select">
    {{#each props.items}}
      <option>{{name}}</option>
    {{/each}}
  </select>
</div>