<div class="ms-AppBar">
  <div class="ms-AppBar-left">
    <a href="#" class="ms-AppBar-action">
      <i class="ms-Icon ms-Icon--miniatures"></i>
      <span class="ms-AppBar-actionLabel">Go to</span>
    </a>
  </div>
  <div class="ms-AppBar-center">
    <a href="#" class="ms-AppBar-action ms-AppBar-action--circle">
      <i class="ms-Icon ms-Icon--circle ms-Icon--arrowLeft"></i>
      <span class="ms-AppBar-actionLabel">Back</span>
    </a>
    <a href="#" class="ms-AppBar-action ms-AppBar-action--circle">
      <i class="ms-Icon ms-Icon--circle ms-Icon--trash"></i>
      <span class="ms-AppBar-actionLabel">Delete</span>
    </a>
    <a href="#" class="ms-AppBar-action ms-AppBar-action--circle">
      <i class="ms-Icon ms-Icon--circle ms-Icon--folderMove"></i>
      <span class="ms-AppBar-actionLabel">Move</span>
    </a>
  </div>
  <div class="ms-AppBar-right">
    <a href="#" class="ms-AppBar-action js-toggleOverflow">
      <i class="ms-Icon ms-Icon--ellipsis"></i>
    </a>
  </div>
  <ul class="ms-AppBar-overflowActions">
    <li class="ms-AppBar-overflowAction">Keep unread</li>
    <li class="ms-AppBar-overflowAction">Flag</li>
    <li class="ms-AppBar-overflowAction">Ignore</li>
    <li class="ms-AppBar-overflowAction">Report error</li>
    <li class="ms-AppBar-overflowAction">Diagnostics</li>
    <li class="ms-AppBar-overflowAction">Feedback</li>
  </ul>
</div>
