<button class="ms-Button js-togglePanel">
  <span class="ms-Button-label">Open panel</span>
</button>

<div class="ms-Panel">
  <div class="ms-Overlay ms-Overlay--dark js-togglePanel"></div>
  <div class="ms-Panel-main">
    <div class="ms-Panel-commands">
      <button class="ms-Panel-command js-togglePanel">
        <i class="ms-Panel-commandIcon ms-Icon ms-Icon--check"></i>
        <span class="ms-Panel-commandLabel">Save</span>
      </button>
      <button class="ms-Panel-command js-togglePanel">
        <i class="ms-Panel-commandIcon ms-Icon ms-Icon--x"></i>
        <span class="ms-Panel-commandLabel">Discard</span>
      </button>
    </div>
    <div class="ms-Panel-contentInner">
      <span class="ms-Panel-headerText">Panel</span>
      <p class="ms-font-m">Content goes here.</p>
    </div>
  </div>
</div>
