<!-- Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE in the project root for license information. -->
<div class="ms-Panel {{#if props.modifier}}{{#each props.modifier}} ms-Panel--{{name}}{{/each}}{{/if}}">
    <button class="ms-Panel-closeButton ms-PanelAction-close">
        <i class="ms-Panel-closeIcon ms-Icon ms-Icon--x"></i>
    </button>
    <div class="ms-Panel-contentInner">
        <p class="ms-Panel-headerText">{{props.headerText}}</p>
        <div class="ms-Panel-content">
            <span class="ms-font-m">{{props.content}}</span>
            <span class="ms-font-m">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin velit vel eros ultricies, id sodales erat accumsan. Nunc a ipsum id mi aliquam finibus quis ut lacus. Suspendisse feugiat massa ut lorem dignissim, quis fringilla massa hendrerit. Praesent tincidunt sapien et mauris eleifend, sed placerat nisl varius. Curabitur mollis mollis quam ac aliquet. Donec cursus mauris vitae egestas faucibus. Aenean quis nulla ac mauris ultricies pellentesque et at eros. Vestibulum vitae odio sed risus vulputate efficitur. Aliquam viverra est ut gravida molestie.

Aenean ac euismod nunc. Vivamus mattis feugiat nibh, eu malesuada tellus varius a. Donec sapien mauris, gravida a tempus eget, egestas ut nisi. Aliquam elementum porta felis a ultricies. Cras non ipsum a leo condimentum vulputate id ut massa. Sed eleifend lectus sed libero varius, id egestas ipsum tempus. Nunc placerat sed nulla eget blandit. Nam felis neque, viverra eget posuere id, fringilla quis dui. Etiam luctus maximus mollis.

Mauris eget tellus maximus, auctor risus eu, mattis est. Etiam porttitor vehicula dolor in maximus. Duis blandit dignissim eros. Donec hendrerit mattis enim, ac molestie orci efficitur sed. Nam a metus vel nisl sodales dapibus vel sit amet tellus. Ut dignissim turpis lacus, quis efficitur nulla tincidunt sit amet. Cras in risus congue, mattis turpis sed, convallis sapien. Donec nulla lorem, porttitor et ultrices sit amet, condimentum ut nisl.

Nam eu nulla eleifend, fermentum dolor nec, interdum lectus. Sed arcu quam, interdum eget ipsum quis, fringilla consectetur elit. Vivamus sed purus eros. Suspendisse potenti. Suspendisse non orci in est pretium semper. Nulla nunc nisl, accumsan id justo ac, euismod lobortis tellus. Mauris eu euismod dui. Nullam viverra massa sit amet nulla tempor sagittis. Etiam leo tortor, vulputate in dapibus ut, posuere id lorem. Proin ut magna turpis. Cras tristique sit amet leo in ornare.

In lacinia interdum sapien non commodo. Vestibulum a molestie urna, eget convallis nisl. Nam porttitor quis ligula at sagittis. Nam mattis lectus convallis risus dictum consectetur. Praesent ut varius nunc, vitae aliquet velit. Aliquam vitae semper mi, non dictum libero. Aenean diam ligula, consectetur vitae consectetur at, ultrices eget magna. Nulla magna erat, mollis vel accumsan et, ultrices sit amet enim. Vivamus interdum, massa quis faucibus semper, est metus sagittis nunc, sit amet facilisis mi diam vel orci. Praesent sollicitudin, enim at imperdiet efficitur, felis arcu laoreet odio, a commodo felis diam et leo. Nam maximus, erat et egestas blandit, tellus arcu sollicitudin arcu, ut vestibulum mi nunc et massa. Morbi fringilla aliquam gravida.
            </span>
        </div>
    </div>
</div>