<div class="docs-SpinnerExample">
  {{> Spinner props=props}}
</div>

<script type="text/javascript">
  var SpinnerHTML = document.querySelector('.docs-SpinnerExample .ms-Spinner');
  var Spinner = new fabric['Spinner'](SpinnerHTML);
</script>
