<div class="docs-SpinnerLargeWithLabelExample">
  {{> Spinner props=props}}
</div>

<script type="text/javascript">
  var SpinnerHTML = document.querySelector('.docs-SpinnerLargeWithLabelExample .ms-Spinner');
  var Spinner = new fabric['Spinner'](SpinnerHTML);
</script>
