@import './Fabric.Brand.Icons';

@include brandIconClasses(1);
@include brandIconSizesClasses();

// Pixel Ratio 1.5
@media only screen and (min-resolution: 144dpi) {
    @include brandIconClasses(1_5);
}

// Pixel Ratio 2
@media only screen and (min-resolution: 192dpi)  {
    @include brandIconClasses(2);
}

// Pixel Ratio 3
@media only screen and (min-resolution: 288dpi) {
    @include brandIconClasses(3);
}