<li>
  <div class="ms-BrandIcon--icon16 ms-BrandIcon--{{name}}"></div>
  <div class="ms-BrandIcon--icon48 ms-BrandIcon--{{name}}"></div>
  <div class="ms-BrandIcon--icon96 ms-BrandIcon--{{name}}"></div>
  <span>ms-BrandIcon--{{name}}</span>
</li>
