<div class="ms-Grid-row" role="row">
  <div class="ms-Grid-col ms-u-sm12 ms-u-lg5" role="gridcell">
    <p class="ms-font-xl {{class}}">{{class}}</p>
  </div>
  <div class="ms-Grid-col ms-u-sm12 ms-u-lg3" role="gridcell">
    <p class="font-size-m">{{name}}</p>
  </div>
</div>