<div class="ms-Grid-row" role="row">
  <div class="ms-Grid-col ms-u-sm12 ms-u-lg5" role="gridcell">
    <span class="{{class}}">{{class}}</span>
  </div>
  <div class="ms-Grid-col ms-u-sm12 ms-u-lg3" role="gridcell">
    <span class="ms-fontSize-m">{{size}}</span>
  </div>
</div>