$od-Logo-width: 250px;

.od-Logo-link {
  position: relative;
  display: block;
  width: $od-Logo-width;
  height: $od-Header-height;
  padding: 1px;

  &:focus {
    box-shadow: inset 0px 0px 0px 1px $ms-color-white;
  }

  @include high-contrast {
    box-shadow: inset 0px 0px 0px 1px $ms-color-white;
  }
  
  @include high-contrast-black-on-white  {
    box-shadow: inset 0px 0px 0px 1px $high-contrast-purpleBG;
  }
}

.od-Logo {
  height: 100%;
}

.od-Logo-color {
  fill: $ms-color-white;
}