<div class="docs-TextFieldUnderlinedExample">
  {{> TextField props=props}}
</div>

<script type="text/javascript">
  var TextFieldHTML = document.querySelector('.docs-TextFieldUnderlinedExample .ms-TextField');
  var TextField = new fabric['TextField'](TextFieldHTML);
</script>
