<div class="ms-ContextualMenu-submenus">
    {{> Button props=props.button}}
    {{> ContextualMenu props=props}}
</div>

<script type="text/javascript">
    var ButtonSubmenuElement = document.querySelector(".ms-ContextualMenu-submenus .ms-Button");
    var ContextualMenuSubmenuElement = document.querySelector(".ms-ContextualMenu-submenus .ms-ContextualMenu");
    var contextualMenu = new fabric['ContextualMenu'](ContextualMenuSubmenuElement, ButtonSubmenuElement);
</script>