//== Component: Choicefield group
//
// Choice field groups contain multiple radio buttons or checkboxes
.ms-ChoiceFieldGroup {
  @include ms-baseFont;
  margin-bottom: 4px;

  .ms-ChoiceFieldGroup-list {
    padding: 0;
    margin: 0;
  }
}
