<button class="ms-Button js-togglePanel">
  <span class="ms-Button-label">Open panel</span>
</button>

<div class="ms-Panel ms-Panel--filePicker">

  <div class="ms-Overlay ms-Overlay--dark js-togglePanel"></div>
  <div class="ms-Panel-main">

    <div class="ms-FilePicker-wrapper ms-u-hiddenMdDown">
      <button class="ms-Button ms-Button--command is-disabled">
        <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--check"></i></span>
        <span class="ms-Button-label">Ok</span>
      </button>
      <button class="ms-Button ms-Button--command js-closePanel" style="margin-left: 10px;">
        <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--x"></i></span>
        <span class="ms-Button-label">Cancel</span>
      </button>
    </div>

    <div class="ms-FilePicker">
      <ul class="ms-FilePicker-sources ms-List ms-List--noBorders">
        <li class="ms-FilePicker-source is-active ms-List-item">
          <div class="ms-FilePicker-sourceIcon"><i class="ms-Icon ms-Icon--clock"></i></div>
          <span class="ms-FilePicker-sourceName">Recent</span>
        </li>
        <li class="ms-FilePicker-source ms-List-item js-view2">
          <div class="ms-FilePicker-sourceIcon"><i class="ms-Icon ms-Icon--onedrive"></i></div>
          <span class="ms-FilePicker-sourceName">OneDrive @ Contoso</span>
        </li>
        <li class="ms-FilePicker-source ms-List-item">
          <div class="ms-FilePicker-sourceIcon"><i class="ms-Icon ms-Icon--upload"></i></div>
          <span class="ms-FilePicker-sourceName">My device</span>
        </li>
        <li class="ms-FilePicker-source ms-List-item">
          <div class="ms-FilePicker-sourceIcon"><i class="ms-Icon ms-Icon--dog"></i></div>
          <span class="ms-FilePicker-sourceName">Bright Dreams</span>
        </li>
      </ul>
      <div class="ms-FilePicker-files">
        <div class="ms-Breadcrumb">
          <span class="ms-Breadcrumb-currentLarge">Recent</span>
        </div>
        <ul class="ms-FilePicker-items ms-List ms-List--grid">
          <li class="ms-FilePicker-item ms-List-item">
            <div class="ms-FilePicker-itemIcon ms-FilePicker-itemIcon--audio"></div>
            <span class="ms-FilePicker-itemPrimaryText">Perlin Pitch.mp3</span>
            <span class="ms-FilePicker-itemSecondaryText">08/11/14 12:32p</span>
          </li>
          <li class="ms-FilePicker-item ms-List-item">
            <div class="ms-FilePicker-itemIcon ms-FilePicker-itemIcon--excel"></div>
            <span class="ms-FilePicker-itemPrimaryText">Matrix Expense Report.xls</span>
            <span class="ms-FilePicker-itemSecondaryText">08/11/14 12:01p</span>
          </li>
          <li class="ms-FilePicker-item ms-List-item">
            <div class="ms-FilePicker-itemIcon ms-FilePicker-itemIcon--word"></div>
            <span class="ms-FilePicker-itemPrimaryText">Textbox Border Colors.docx</span>
            <span class="ms-FilePicker-itemSecondaryText">08/09/14 9:21a</span>
          </li>
          <li class="ms-FilePicker-item ms-List-item">
            <div class="ms-FilePicker-itemIcon ms-FilePicker-itemIcon--ppt"></div>
            <span class="ms-FilePicker-itemPrimaryText">Perlin Rollout.pptx</span>
            <span class="ms-FilePicker-itemSecondaryText">08/08/14 7:30p</span>
          </li>
          <li class="ms-FilePicker-item ms-List-item">
            <div class="ms-FilePicker-itemIcon ms-FilePicker-itemIcon--excel"></div>
            <span class="ms-FilePicker-itemPrimaryText">Matrix Proposal.xls</span>
            <span class="ms-FilePicker-itemSecondaryText">07/02/14 12:20p</span>
          </li>
          <li class="ms-FilePicker-item ms-List-item">
            <div class="ms-FilePicker-itemIcon ms-FilePicker-itemIcon--word"></div>
            <span class="ms-FilePicker-itemPrimaryText">Sharing Dialog.docx</span>
            <span class="ms-FilePicker-itemSecondaryText">03/16/14 11:20a</span>
          </li>
          <li class="ms-FilePicker-item ms-List-item">
            <div class="ms-FilePicker-itemIcon ms-FilePicker-itemIcon--word"></div>
            <span class="ms-FilePicker-itemPrimaryText">File Picker.pptx</span>
            <span class="ms-FilePicker-itemSecondaryText">03/11/14 5:59p</span>
          </li>
        </ul>
      </div>
    </div><!-- /ms-FilePicker -->

  </div>
</div>

