.docs-BlogPost {
    margin-bottom: 100px;
}

.docs-BlogPost-title {
    border-bottom: 1px solid $ms-color-neutralTertiaryAlt;
    padding-bottom: 12px;
}

.docs-BlogPost-metadata {
    font-size: $ms-font-size-m;
    @include ms-baseFont;
    font-weight: $ms-font-weight-semibold;
    color: $ms-color-neutralSecondary;
    margin-bottom: 20px;
}

.docs-BlogPost-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
