$docs-Carousel-height: 446px;
$docs-Carousel-slideOneColor: #0078D7;
$docs-Carousel-slideLargeWidth: 830px;
$docs-Carousel-controls-height: 50px;
$docs-Carousel-arrowLgWidth: 58px;
$docs-Carousel-arrowFontSize: 48px;
$docs-Carousel-paginationButtonSize: 12px;
$docs-Carousel-negMarginLeft: -477px;

.docs-Carousel {
  width: 100%;
  height: $docs-Carousel-height;
  position: relative;
  background-color: $docs-Carousel-slideOneColor;
  float: left;
  overflow: hidden;
  transition: background-color 1000ms linear;
  box-sizing: border-box;
  z-index: $ms-zIndex-middle;
}

.docs-Carousel-slide {
	float: left;
	height: $docs-Carousel-height;
	width: 100%;
	margin-left: 0;
	padding: 24px;
	padding-top: 0;
	box-sizing: border-box;

	@media (min-width: $ms-screen-xl-min) {
		float: none;
		position: absolute;
		top: 0;
		width: $docs-Carousel-slideLargeWidth;
		left: 50%;
		margin-left: $docs-Carousel-negMarginLeft;
		padding: 0;
	}
}

.docs-Carousel-innerSlide {
	float: left;
	position: relative;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}
.docs-Carousel-slideTitle {
	@include ms-font-xl;
	color: $ms-color-white;
	margin-bottom: 8px;
	@media (min-width: $ms-screen-xl-min) {
		@include ms-font-xxl;
		color: $ms-color-white;
	}
}

.docs-Carousel-slideSubTitle {
	@include ms-font-m;
	line-height: $ms-font-size-xl;
	color: $ms-color-white;
	@media (min-width: $ms-screen-xl-min) {
		@include ms-font-l;
		line-height: $ms-font-size-xxl;
		color: $ms-color-white;
	}
}

// Animation Layers
.docs-Carousel-animationLayerOne {
	height: auto;
	width: 100%;
	float: left;
	position: relative;
	text-align: center;
  z-index: 10;
	@media (min-width: $ms-screen-xl-min) {
		height: 208px;
		max-width: 440px;
		position: absolute;
		top: 168px;
		text-align: left;
	}
}

.docs-Carousel-animationLayerOne.is-hidden {
	opacity: 0;
}

.docs-Carousel-animationLayerTwo {
	width: 100%;
	height: auto;
	float: left;
	position: relative;
	text-align: center;
  z-index: 5;
	@media (min-width: $ms-screen-xl-min) {
		position: absolute;
		height: 100%;
		text-align: left;
		float: none;
	}
}

.docs-Carousel-staticContent {
	width: 100%;
	height: auto;
	position: relative;
	float: left;
	text-align: center;

	@media (min-width: $ms-screen-xl-min) {
		width: auto;
		position: absolute;
		left: 50%;
		top: 0;
		height: auto;
		max-width: $docs-Carousel-height;
		height: 173px;
		padding-top: 44px;
		z-index: 10;
		margin-left: $docs-Carousel-negMarginLeft;
		float: none;
	}
}

.docs-Carousel-staticContentImage {
	width: auto;
	height: 50px;
	margin-top: 24px;
	margin-bottom: 24px;
	@media (min-width: $ms-screen-xl-min) {
		width: auto;
		height: auto;
		margin-top: 0;
	}
}

.docs-Carousel-controls {
	width: 100%;
	position: absolute;
	z-index: 11;
	bottom: 20px;
	height: 50px;
	@media (min-width: $ms-screen-xl-min) {
		margin: auto;
		width: $docs-Carousel-slideLargeWidth;
		left: 50%;
		margin-left: $docs-Carousel-negMarginLeft;
		box-sizing: border-box;
	}
}

.docs-Carousel-pagination {
	height: $docs-Carousel-controls-height;
	width: auto;
	position: absolute;
	left: 50%;
	magin-left: -10px;
	height: 10px;
	top: 50%;
	margin-top: -($docs-Carousel-paginationButtonSize/2);
}

.docs-Carousel-paginationButton {
	color: $ms-color-white;
	height: $docs-Carousel-paginationButtonSize;
	font-size: $docs-Carousel-paginationButtonSize;
	margin-right: 2px;
	opacity: 0.5;
}

.docs-Carousel-paginationButton:hover {
	cursor: pointer;
}

.docs-Carousel-paginationButton.is-active {
	opacity: 1;
}

.docs-Carousel-leftArrow,
.docs-Carousel-rightArrow {
	position: absolute;
	height: $docs-Carousel-controls-height;
	width: $docs-Carousel-arrowLgWidth;
	font-size: 48px;
	color: $ms-color-white;
}

.docs-Carousel-leftArrow:before,
.docs-Carousel-rightArrow:before {
	position: absolute;
	top: 50%;
	margin-top: -($docs-Carousel-arrowFontSize/2);
	left: 0;
}
.docs-Carousel-rightArrow:before {
	right: 0;
	left: auto;
}

.docs-Carousel-leftArrow:hover,
.docs-Carousel-rightArrow:hover {
	cursor: pointer;
}

.docs-Carousel-leftArrow {
	left: 0;
	@media (min-width: $ms-screen-xl-min) {
		left: -13px;
	}
}

.docs-Carousel-rightArrow {
	right: 0;
	@media (min-width: $ms-screen-xl-min) {
		right: -13px;
	}
}

// Demo Slide Styles
.docs-Carousel-slideGif {
	width: 220px;
	margin-top: 24px;
	@media (min-width: $ms-screen-xl-min) {
		position: absolute;
		right: 0;
		top: 0;
		width: auto; 
	}
}

.docs-Carousel-slide.docs-Carousel--slideOne {
	.docs-Carousel-slideGif {
		top: 18px;
		right: 30px;
	}
}

.docs-Carousel-slide.docs-Carousel--slideTwo {
	.docs-Carousel-slideGif {
		top: 34px;
		width: 595px;
		right: -33px;
	}
	.docs-Carousel-animationLayerOne {
		
		@media (min-width: $ms-screen-xl-min) {
			max-width: 260px;
		}
	}
}

.docs-Carousel-slide.docs-Carousel--slideThree {
	.docs-Carousel-animationLayerOne {
		@media (min-width: $ms-screen-xl-min) {
			max-width: 290px;
		}
	}
	.docs-Carousel-slideGif{
		top: 46px;
		width: 484px;
	}
}

// Home Carousel
.docs-Carousel.docs-Carousel {

  border-top: $docs-pagesMarginTop solid $ms-color-black;
  height: $docs-Carousel-height + $docs-pagesMarginTop;
    
  @media (min-width: $ms-screen-lg-min) {
    height: $docs-Carousel-height + $docs-pagesMarginTop;
  }

  @media(min-width: $docs-mobileNavBreakpoint) {
    height:$docs-Carousel-height;
    margin-top: $docs-pagesMarginTop;
    border-top: none;
  }

}

.docs-Carousel-slideTitle {
  margin-bottom: 4px;
}

.docs-Carousel-staticContent {
  margin-bottom: 8px;
  font-size: 30px;
  color: $ms-color-white;
	@include ms-baseFont;
  font-weight: $ms-font-weight-regular;
  margin-top: 31px;
}ß

.docs-Carousel-animationLayerOne {
  max-width: 270px;
  left: 50%;
  margin-left: -(270px / 2);
  z-index: 10;
}

.docs-Carousel-animationLayerTwo {
  z-index: 5;
}

.docs-Carousel-pagination {
  display: none;
  transform: translateX(-50%);
}

.docs-Carousel-paginationButton {
  margin-right: 4px;
}

.docs-Carousel-leftArrow {
  left: 8px;
}

.docs-Carousel-rightArrow {
  right: 8px;
}

.docs-Carousel-rightArrow,
.docs-Carousel-leftArrow {
  font-size: 32px;
  top: 1px;
}


@media (min-width: $ms-screen-xl-min) {
  .docs-Carousel {
    background-color: #0078d7;
  }

  .docs-Carousel-slide {
    float: none;
    position: absolute;
    top: 0;
    width: $docs-InnerWidth;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    margin-left: 0;
  }

  .docs-Carousel-slideTitle {
    margin-bottom: 8px;
  }

  .docs-Carousel-controls {
  	transform: translateX(-50%);
    width: $docs-InnerWidth;
    margin-left: 0;
  }

  .docs-Carousel-pagination {
    display: block;
    left: 50%;
    margin-left: 0;
    transform: translateX(-50%);
  }
  .docs-Carousel-staticContent {
  	transform: translateX(-160%);
    margin-left: 0;
    font-size: 44px;
    margin-top: 77px;
    padding-top: 0;
    height: auto;
  }

  .docs-Carousel-staticContentImage {
    margin-bottom: 10px;
  }

  .docs-Carousel-animationLayerOne {
    transform: translateX(0);
    left: 0;
    margin-left: 0;
    top: 165px;
  }

  // Slide One Animation Layer
  .docs-Carousel-slide.docs-Carousel--slideOne .docs-Carousel-animationLayerOne {
    min-width: 524px;
    .docs-Carousel-slideSubTitle {
      width: 335px;
    }

  }
  // Slide Two Animation Layer
  .docs-Carousel-slide.docs-Carousel--slideTwo .docs-Carousel-animationLayerOne {
      max-width: 290px;
      transform: translateX(0);
  }

  // Slide Three Animation Layer
  .docs-Carousel-slide.docs-Carousel--slideThree .docs-Carousel-animationLayerOne {
      max-width: 314px;
  }

  .docs-Carousel-leftArrow {
    left: -14px;
  }

  .docs-Carousel-rightArrow {
    right: -14px;
  }
  
  .docs-Carousel-rightArrow,
  .docs-Carousel-leftArrow {
    font-size: 48px;
    top: 0;
  }

}


// Animation Specific Styles

.edgeLoad-EDGE-96236131 { visibility:hidden; }

#stage_8 {

    position: absolute !important;
    height: 570px;
    width: 869px;
    z-index: 0;
    backface-visiblity: hidden;
    left: 50%;
    top: -156px;
    transform: translateX(-50.6%) scale(0.4);
  
    @media (min-width: $ms-screen-md-min) {
        z-index: 0;
        transform: translateX(-50%) scale(0.6);
        top: -132px;
    }

    @media (min-width: $ms-screen-xl-min) {
	    transform: scale(.78);
	    backface-visiblity: hidden;
	    left: auto;
	    top: -42px;
    }

}

#stage_5 {
	position: absolute !important;
    height: 570px;
    width: 869px;
    z-index: 0;
    transform: translateX(-50%) scale(0.4);
    backface-visiblity: hidden;
    left: 50%;
    top: -157px;

    @media (min-width: $ms-screen-md-min) {
        position: relative !important;
        height: 570px;
        width: 869px;
        z-index: 0;
        transform: translateX(-49%) scale(0.5);
        backface-visiblity: hidden;
        left: 50%;
        top: -132px;
    }

    @media (min-width: $ms-screen-xl-min) {
        position: relative !important;
        height: 570px;
        width: 869px;
        z-index: 0;
        transform: translateX(0) scale(.78);
        backface-visiblity: hidden;
        right: -116px;
        left: auto;
        top: -42px;
    }

}

#stage_2 {
	position: absolute !important;
    height: 570px;
    width: 869px;
    z-index: 0;
    transform: translateX(-50%) scale(0.63);
    backface-visiblity: hidden;
   	left: 50%;
    top: -30px;

	@media (min-width: $ms-screen-xl-min) {
		position: absolute !important;
	    height: 570px;
	    width: 869px;
	    z-index: 0;
	    backface-visiblity: hidden;
        transform: scale(.9);
	    left: auto;
        right: -57px;
	    top: 47px;
	}

}