.docs-Header {
	width: 100%;
    height: $docs-smBannerHeight + $docs-pagesMarginTop;
    background-color: #0078d7;
    position: relative;
    border-top: $docs-pagesMarginTop solid $ms-color-black;
    
    @media (min-width: $ms-screen-xl-min) {
    	height: $docs-lgBannerHeight + $docs-pagesMarginTop;
    }

    @media(min-width: $docs-mobileNavBreakpoint) {
    	margin-top: $docs-pagesMarginTop;
    	border-top: none;
    	height: $docs-lgBannerHeight;
    }

	.docs-centerContent {
		transition: all 0.5s $ms-ease1;
	}
	
    // @todo: This shouldn't have to be an ID to be
    //        more specific than '#body-content a'
	a#docs-PagesBannerLogo {
		color: $ms-color-white;
		top: 54px;
		float: left;
		position: relative;
		left: 50%;
    transform: translateX(-50%);
    font-size: 36px;

		@media (min-width: $ms-screen-xl-min) {
      transition: all 1s $ms-ease1;
			font-size: 44px;
			transform: translateX(0);
      left: 0;
		}
        
    &:hover {
        color: $ms-color-neutralLight;
    }

		&:focus {
			&:before {
				border: 1px solid $ms-color-white;
			}
		}
	}
}


// Fabric sub pages banner

.docs-subPageCenter {
	position: relative;
    display: block;
    max-width: $docs-pageMaxWidth;
    margin: 0 auto;
    height: $docs-smBannerHeight;
    @media (min-width: $ms-screen-xl-min) {
    	height: $docs-lgBannerHeight;
    }
}


.docs-subPagePosition {
	height: $docs-smBannerHeight;
    position: relative;
    
	@media (min-width: 967px) {
		margin: 0 auto;
	    height: 173px;
	    max-width: $docs-InnerWidth;
	}
	@media (min-width: $ms-screen-xl-min) {
    	height: $docs-lgBannerHeight;
    }
}

.docs-bannerButtons {
	position: relative;
    top: 79px;
    right: auto;
    width: 256px;
    left: 50%;
    transform: translateX(-50%);
    display: block;

    .ms-Button {
    	background: none;
    	width: 100%;
    	margin-top: 0;
    	margin-bottom: 14px;
    	font-size: $ms-font-size-s-plus;
    	display: inline-block;
    	margin-left: 0;
    	padding-top: 0;
    	padding-bottom: 0;
    	padding-left: 16px;
    	padding-right: 16px;
		line-height: 25px;
		display: inline-block;
		vertical-align: middle;
		text-align: center;

		&:active,
		&:hover {
			background: rgba(255,255,255,0.9);
			color: $ms-color-neutralPrimary;
			
			&:before {
				display: none;
			}
			
			.ms-Button-label,
			.ms-Icon  {
				color: $ms-color-neutralPrimary;
			}
			
			@include high-contrast {
				background: none;
				border: $ms-color-white;
				
				&:before {
					display: none;
				}
				
				.ms-Button-label,
				.ms-Icon  {
					color: $ms-color-white;
				}
			}
			
			@include high-contrast-black-on-white  {
				background: none;
				border: $high-contrast-purpleBG;
				
				&:before {
					display: none;
				}
				
				.ms-Button-label,
				.ms-Icon  {
					color: $high-contrast-purpleBG;
				}
			}
		}
	
		&:focus {
			background: rgba(255,255,255,0.9);
			color: $ms-color-neutralPrimary;
			
			.ms-Button-label,
			.ms-Icon  {
				color: $ms-color-neutralPrimary;
			}
			
			&::before {
				content: none;
				display: none;
			}
			
			@include high-contrast {
				border: 1px solid $ms-color-white;
				
				.ms-Button-label,
				.ms-Icon  {
					color: $ms-color-white;
				}
			}
			
			@include high-contrast-black-on-white  {
				border: 1px solid $high-contrast-purpleBG;
				
				.ms-Button-label,
				.ms-Icon  {
					color: $high-contrast-purpleBG;
				}
			}
		}
    }

	.ms-Button-label {
		color: $ms-color-white;
		height: 25px;
		line-height: 23px;
		display: inline-block;
		vertical-align: middle;
	}
	.ms-Button-icon {
		display: inline-block;
		font-size: 16px;
		color: $ms-color-white;
		width: $docs-bannerIconSize;
		height: $docs-innerButtonHeight;
		vertical-align: middle;
		margin-right: 8px;

		img {
			width: 16px;
			height: auto;
			transform: translateY(-2px);
		}
	}

	@media (min-width: $ms-screen-xl-min) {
		display: block;
		position: absolute;
		right: 0px;
		top: 46px;
		transform: translateX(0);
		left: auto;
		width: 174px;
		
		.ms-Button {
			a {
				text-align: center;
			}
		}

	}

	@media (min-width: $ms-screen-xl-min) { 
		right: 0px;
	}
}
