.docs-MobileNav {
  .ms-Panel {
    z-index: $ms-zIndex-front;
  }
  .ms-Panel-main {
    max-width: 270px;
    left: 0;
    overflow-y: auto;
  }
}

// Button to open the mobile navigation panel
a.docs-MobileNav-menuButton {
    color: $ms-color-white;
    font-size: 22px;
    height: 32px;
    position: absolute;
    top: 80px;
    width: 32px;
    left: 20px;
    text-align: center;
    transition: all 0.3s;
    z-index: 10;
    
    &:hover {
        color: $ms-color-neutralLight;
        cursor: pointer;
    }

    &:focus {
        color: $ms-color-white;
        &:before {
            border: 1px solid $ms-color-white;
        }
    }

    @media (min-width: $ms-screen-xl-min) {
        display: none;
    }

}

// @todo: Remove the 'ul' and importants once dev.office.com specificity issues are fixed
div.docs-MobileNav-items {
    display: block;
    list-style: none !important;
    list-style-type: none !important;
    margin: 0;
    padding-top: 20px;
    
    .docs-MobileNav-item {
        list-style-type: none !important;
        list-style: none !important;
        position: relative;
        transition: all 1s cubic-bezier(.1, .9, .2, 1);
        margin-bottom: 0;
        
        a {
            color: $ms-color-neutralPrimary;
            display: block;
            font-size: 17px;
            padding: 12px 0 12px 40px;
        }
        
        .ms-Icon {
            color: #666;
            display: block;
            font-size: 17px;
            height: 100%;
            left: 8px;
            line-height: 46px;
            position: absolute;
            text-align: center;
            top: 0;
            width: 30px;
        }
        
        .docs-MobileNav-subMenu {
            width: 100%;
            margin: 0;
            display: none;
            
            .docs-MobileNav-item a {
                font-size: 14px;
            }
            
            &.is-open {
                display: block;
            }
        }
    }
    
    // Highlight the current page
    .docs-MobileNav-item.current a {
        background-color: #deecf9;
    }
}

