/* DOCUMENTATION SPECIFIC STYLING */
html, 
body {
    margin: 0;
    padding: 0;
    height: 100%;  
}    

h1 {
    margin: 0;
    padding: 10px;
    margin-bottom: 20px;
    padding-left: 25px;
}

#componentWrapper {
  width: calc(100% - 56px);
  height: 100%;
  padding: 0 28px;
}

.sample-wrapper {
  margin: 28px 0;
}

.sample-wrapper > .ms-Overlay {
  display: block;
  position: relative;
  height: 300px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.3); // For visibility of lighter variant
}

.ms-NavBar-item .ms-ContextualMenu {
  position: absolute;
}

.ms-CommandBar .ms-ContextualMenu {
  position: absolute;
}