<div class="docs-PivotLargeTabsExample">
  {{> Pivot props=props}}
</div>

<script type="text/javascript">
  var PivotHTML = document.querySelector('.docs-PivotLargeTabsExample .ms-Pivot');
  var Pivot = new fabric['Pivot'](PivotHTML);
</script>
