<div class="ms-PanelLargeExample">
    {{> Button props=PanelExampleProps.large.button}}
    {{> Panel props=PanelExampleProps.large}}
</div>

<script>
  var PanelLargeExampleButton = document.querySelector(".ms-PanelLargeExample .ms-Button");
  var PanelLargeExamplePanel = document.querySelector(".ms-PanelLargeExample .ms-Panel");
  PanelLargeExampleButton.addEventListener("click", function() {
    new fabric['Panel'](PanelLargeExamplePanel);
  });
</script>