<div class="ms-PanelMediumExample">
    {{> Button props=PanelExampleProps.medium.button}}
    {{> Panel props=PanelExampleProps.medium}}
</div>

<script>
  var PanelMediumExampleButton = document.querySelector(".ms-PanelMediumExample .ms-Button");
  var PanelMediumExamplePanel = document.querySelector(".ms-PanelMediumExample .ms-Panel");
  PanelMediumExampleButton.addEventListener("click", function() {
    new fabric['Panel'](PanelMediumExamplePanel);
  });
</script>