<div class="ms-PanelLargeFixedExample">
    {{> Button props=PanelExampleProps.largeFixed.button}}
    {{> Panel props=PanelExampleProps.largeFixed}}
</div>

<script>
  var PanelLargeFixedExampleButton = document.querySelector(".ms-PanelLargeFixedExample .ms-Button");
  var PanelLargeFixedExamplePanel = document.querySelector(".ms-PanelLargeFixedExample .ms-Panel");
  PanelLargeFixedExampleButton.addEventListener("click", function() {
    new fabric['Panel'](PanelLargeFixedExamplePanel);
  });
</script>