<div class="ms-PanelExtraLargeExample">
    {{> Button props=PanelExampleProps.extraLarge.button}}
    {{> Panel props=PanelExampleProps.extraLarge}}
</div>

<script>
  var PanelExtraLargeExampleButton = document.querySelector(".ms-PanelExtraLargeExample .ms-Button");
  var PanelExtraLargeExamplePanel = document.querySelector(".ms-PanelExtraLargeExample .ms-Panel");
  PanelExtraLargeExampleButton.addEventListener("click", function() {
    new fabric['Panel'](PanelExtraLargeExamplePanel);
  });
</script>