<div class="ms-PanelDefaultExample">
    {{> Button props=PanelExampleProps.default.button}}
    {{> Panel props=PanelExampleProps.default}}
</div>

<script>
  var PanelDefaultExampleButton = document.querySelector(".ms-PanelDefaultExample .ms-Button");
  var PanelDefaultExamplePanel = document.querySelector(".ms-PanelDefaultExample .ms-Panel");
  PanelDefaultExampleButton.addEventListener("click", function() {
    new fabric['Panel'](PanelDefaultExamplePanel);
  });
</script>