<!-- Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE in the project root for license information. -->

<ul class="ms-Pivot {{#each props.modifiers}} ms-Pivot--{{name}}{{/each}}">
  {{#each props.links}}
    <li class="ms-Pivot-link is-selected">
      {{text}}
      {{#if props.ellipsisIcon}}
        <i class="ms-Pivot-ellipsis ms-Icon ms-Icon--{{props.ellipsisIcon}}"></i>
      {{/if}}
    </li>
  {{/each}}
</ul>
