.docs-Components-subList {
  margin-bottom: 10px;
  display: block;
}

.docs-Components-subItem {
  margin-bottom: 20px;
}

.docs-Components-exampleWrapper {
  position: relative;

  + .docs-Components-exampleWrapper {
      margin-top: 10px;
  }
}

.docs-Components-subItemExample {
  // margin-bottom: 20px;
  position: relative;

}

.docs-Components-examples {
    border: 1px solid #eaeaea;
    padding: 15px;
}

// Component-specific examples & overrides
// App Bar
.docs-Components-subItemExample {
  // Persona
  .ms-AppBar {
    height: 50px;
    position: static;
  }
  
  .ms-PersonaCard {
    position: static;
  }
  
  .ms-Dialog {
    z-index: 1;
  }
}