.docs-demoGrid {
  margin: 0 -10px;
  .ms-Grid-row { margin: 0 -10px; }
  
  .block {
      background-color: $ms-color-neutralTertiary;
      color: $ms-color-white;
      height: 50px;
      line-height: 50px;
      margin-bottom: 20px;
      text-align: center;   
  }
  
}