
$LeftNavWidth: 210px;

#body-content {
    .RightNav { 
        width: $LeftNavWidth;
        text-align: right;
        margin-top: 42px;
        display: none;

        @media (min-width: 967px) {
            display: block;
        }

        // States
        &.is-sticky {
            top: 62px;
            position: fixed;
            margin-top: 0;
        }

    }

    .RightNav-linkArea {
        ul {
            margin-top: 0;
        }
    }
    .RightNav-title {
        text-transform: uppercase;
        margin-top: 0;
    }

    .RightNav-linkGroup {
        padding-bottom: 20px;
    }

    .RightNav-chevron {
        position: absolute;
        height: 30px;
        width: 16px;
        left: 17px;
        line-height: 30px;
        transition: transform $ms-duration1 $ms-ease1;
    }

    .RightNav-item {
        display: block;
        text-align: left;
    }

    .RightNav-link {
        display: inline-block;
        text-overflow: ellipsis;
        text-decoration: none;
        line-height: 24px;
        min-height: 30px;
        overflow: hidden;
        padding-left: 10px;
        @include ms-font-m;

        // States
        &:hover { color: $ms-color-black; }
        &:visited, &:active {
            color: $ms-color-black;
        }

        &:focus {
            color: $ms-color-themePrimary;
        }

        &.is-selected {
            @include ms-baseFont;
            font-weight: $ms-font-weight-semibold;
            color: $ms-color-black;
            border-left-width: 2px;
            border-left-style: solid;
        }
    }

    a:hover.RightNav-link {
        color: $ms-color-themePrimary;
    }

}