<div class="ms-CalloutExample--actionText">
  {{> Callout props=props}}
</div>

<script type="text/javascript">
  var CalloutHTML = document.querySelector('.ms-CalloutExample--actionText .ms-Callout');
  var Callout = new fabric['Callout'](CalloutHTML, [{
    "label": "Close THis"
  }]);
  console.log("Registering callout");
</script>