<div class="ms-NavBar">
  <div class="ms-NavBar-openMenu js-openMenu">
    <i class="ms-Icon ms-Icon--menu"></i>
  </div>
  <ul class="ms-NavBar-items">
    <li class="ms-NavBar-item ms-NavBar-item--search ms-u-hiddenSm">
      <div class="ms-TextField">
        <input class="ms-TextField-field">
      </div>
    </li>
    <li class="ms-NavBar-item">Home</li>
    <li class="ms-NavBar-item ms-NavBar-item--hasMenu">
      Channels
      <i class="ms-NavBar-chevronDown ms-Icon ms-Icon--chevronDown"></i>
      <ul class="ms-ContextualMenu">
        <li class="ms-ContextualMenu-item"><a class="ms-ContextualMenu-link" href="#">Animals</a></li>
        <li class="ms-ContextualMenu-item"><a class="ms-ContextualMenu-link" href="#">Education</a></li>
        <li class="ms-ContextualMenu-item"><a class="ms-ContextualMenu-link" href="#">Music</a></li>
        <li class="ms-ContextualMenu-item "><a class="ms-ContextualMenu-link" href="#">Sports</a></li>
      </ul>
    </li>
    <li class="ms-NavBar-item">My Videos</li>
    <li class="ms-NavBar-item is-disabled">More</li>
    <li class="ms-NavBar-item ms-NavBar-item--right"><i class="ms-Icon ms-Icon--upload"></i> Upload</li>
  </ul>
</div>
