<!-- Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE in the project root for license information. -->
<div class="ms-CheckBox"> 
  <li role="{{props.type}}"
      class="ms-Choice-field {{#if props.disabled}} is-disabled {{/if}}"
      tabindex="0"
      aria-checked="{{props.checked}}"
      name="{{props.name}}">
      <span class="ms-Label">{{props.label}}</span>
  </li>
</div> 