<!-- Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE in the project root for license information. -->

<div class="ms-CheckBox"> 
    <input tabindex="-1" type="checkbox" class="ms-CheckBox-input">
    <label role="{{props.type}}"
        class="ms-CheckBox-field {{#if props.disabled}} is-disabled {{/if}}"
        tabindex="0"
        aria-checked="{{props.checked}}"
        name="{{props.name}}"
        {{#if props.disabled}}
        aria-disabled="true"
        {{/if}}>
        <span class="ms-Label">{{props.label}}</span>
    </label>
</div>
