<!-- Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE in the project root for license information. -->

<div class="ms-Facepile">
  <button class="ms-Facepile-addButton ms-Facepile-addButton--addPerson js-addPerson">
    <i class="ms-Facepile-addPersonIcon ms-Icon ms-Icon--personAdd"></i>
  </button>
  
  {{#each props.members}}
      {{renderPartial component props}}
  {{/each}}
  
  <button class="ms-Facepile-addButton ms-Facepile-addButton--overflow js-overflowPanel">
    <span class="ms-Facepile-overflowText">+3</span>
  </button>
</div>