<div class="ms-Callout">
  <div class="ms-Callout-main">
    <div class="ms-Callout-header ms-Callout-header--l ms-bg-color-themePrimary">
      <p class="ms-Callout-title">All of your favorite people</p>
    </div>
    <div class="ms-Callout-inner">
      <div class="ms-Callout-content">
        <p class="ms-Callout-subText ms-Callout-subText--m">People automatically puts together all of the people you care most about in one place.</p>
      </div>
      <div class="ms-Callout-actions">
        <button class="ms-Callout-button ms-Button ms-Button--primary">
          <span class="ms-Button-label">More</span>
          <span class="ms-Button-description">Description of the action this button takes</span>
        </button>
        <button class="ms-Callout-button ms-Button">
          <span class="ms-Button-label">Got it</span>
          <span class="ms-Button-description">Description of the action this button takes</span>
        </button>
      </div>
    </div>
  </div>
</div>
