<div class="ms-Callout">
  <div class="ms-Callout-main">
    <div class="ms-Callout-header ms-Callout-header--s ms-bg-color-officeAccent6">
      <p class="ms-Callout-title">Birthday</p>
    </div>
    <div class="ms-Callout-inner">
      <div class="ms-Callout-content">
        <div class="ms-Callout-birthdayImg">
          <!-- img goes here -->
        </div>
        <div class="ms-callout-textGroup">
          <p class="ms-Callout-subTitle">Alton Lafferty</p>
          <p class="ms-Callout-subText ms-Callout-subText--s ms-Callout-subText--tag">September 4, 1985</p>
        </div>
      </div>
    </div>
  </div>
</div>
