<div class="ms-Toggle">
  <span class="ms-Toggle-description">Let apps use my location</span>
  <input type="checkbox" id="demo-toggle-1" class="ms-Toggle-input" />
  <label for="demo-toggle-1" class="ms-Toggle-field">
    <span class="ms-Label ms-Label--off">Off</span>
    <span class="ms-Label ms-Label--on">On</span>
  </label>
</div>

<div class="ms-Toggle">
  <span class="ms-Toggle-description">Let apps access my name, picture, and other domain</span>
  <input type="checkbox" id="demo-toggle-2" class="ms-Toggle-input" />
  <label for="demo-toggle-2" class="ms-Toggle-field">
    <span class="ms-Label ms-Label--off">Off</span>
    <span class="ms-Label ms-Label--on">On</span>
  </label>
</div>
