<div class="ms-ContextualHost 
    {{#if props.arrowPosition}} ms-ContextualHost--{{props.arrowPosition}} {{/if}} 
    {{#if props.modifier}} ms-ContextualHost--{{props.modifier}} {{/if}}
    {{#if props.state}} {{props.state}} {{/if}}">
  <div class="ms-ContextualHost-main">
      {{#if @partial-block}} {{> @partial-block }} {{/if}}
  </div>
</div>