<!-- Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE in the project root for license information. -->

<div class="ms-ContextualHost 
    {{#if props.arrowPosition}} ms-ContextualHost--{{props.arrowPosition}} {{/if}} 
    {{#if props.modifier}} ms-ContextualHost--{{props.modifier}} {{/if}}
    {{#if props.state}} {{props.state}} {{/if}}">
  <div class="ms-ContextualHost-main">
      {{#if @partial-block}} {{> @partial-block }} {{/if}}
  </div>
  <div class="ms-ContextualHost-beak"></div>
</div>