<div class="ms-Label--required">{{> Label props=props}}</div>

<script type="text/javascript">
  var LabelExampleRequiredHTML = document.querySelector('.ms-Label--required');
  var LabelExampleRequired = new fabric['.ms-Label'](LabelExampleRequiredHTML);
</script>