<div class="ms-Label--disabled">{{> Label props=props}}</div>

<script type="text/javascript">
  var LabelExampleDisabledHTML = document.querySelector('.ms-Label--disabled .ms-Label');
  var LabelExampleDisabled = new fabric['.ms-Label'](LabelExampleDisabledHTML);
</script>